body {
    width: 100vw;
    height: 100vh;
}

h1 {
    margin: 0;
    padding: 1rem 0;
}

input[type=submit] {
    margin-top: 5px;
}

form {
    max-width: 150px;
    margin-top: 15px;
}

#preloader {
    width: 10vw;
    height: 10vh;
    background: url(./preloader.gif) no-repeat center;
    background-size: cover;
    display: block;
}